.dla {
  width: 340px;
}

.faxian2 ul li {
  float: left;
  width: 220px;
  height: 235px;
  border: 1px #ddd solid;
  border-radius: 7px;
  margin-right: 37px;
  margin-top: 30px;
  text-align: left;
  position: relative;
}

.faxian2 ul li .bao_you {
  position: absolute;
  top: 220px;
  left: 155px;
}

.bao_kongqi {
  font-size: 14px;
  font-weight: normal;
}

img:hover{
  animation: ads 1.1s infinite;
  cursor: pointer;

}


@keyframes ads {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }

  50% {
    opacity: 0.5;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}